.moviesList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.movieItem{
    max-width: 20%;
    list-style: none;
}

.movieTitle{
    height: 2em;
    font-size: 1em;
}

.movieDesc{
    font-size: 0.8em;
}

.movieItem img{
    max-height: 400px;
    width: auto;
    height: auto;
    transition: transform 0.7s ease;
}

.movieItem img:hover{
    transform: scale(1.1);
}
